{% extends 'base.html.twig' %}

{% block title %}Centre Médical+{% endblock %}

{% block body %}

  <!-- Content section-->
        <section class="">
        <br><br><br>
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="section-title col-lg-6">
                        <h2>A PROPOS DE NOUS</h2>
                        <p class="lead">Centre Médical+ 1ère centre médical historique dans la région, s'est engagée dans la qualité des prestations offertes à ses patients. Réputée pour le corps médical qui s'y exerce ainsi que pour les investissements en terme d'équipements et de matériels de pointe, Centre Médical+ se positionne aujourd'hui parmi les établissements de santé références en Tunisie. Signe des efforts d'amélioration en continu, Centre Médical+ a entamé des travaux d'extension et de rénovation de ses locaux qui s'achèveront en 2018.</p><br>
                        <div class="gallery-item">
                        <img src="assets/img/disciplines-1.jpg" alt="" class="img-fluid"></div><br>
                        <p class="mb-0">Chaque année, notre centre médical accueille des milliers de patients tunisiens, européens et africains.A quelques minutes des meilleurs complexes hôteliers de la région, l'établissement qui a mis en place des partenariats avec des prestataires de service de confiance offre aux patients étrangers une prise en charge globale et de qualité.</p>
                    </div>
                </div>
            </div>
        </section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
