{% extends 'base.html.twig' %}

{% block title %}Centre Médical+{% endblock %}

{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Centre Médical+</h1>
      <h2>Le choix de l'exellence en Tunisie</h2>
      <a href="#appointment" class="btn-get-started scrollto">Fixer un rendez-vous</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Pourquoi Centre Médical+?</h3>
              <p>
                Bienvenue sur le site web du Centre Ennasr Médical, un groupement de cabinets médicaux privés au cœur de la cité Ennasr à Tunis . Le centre dispose aussi de laboratoires d’analyses médicales et d’Anatomie pathologique, un centre de radiologie ainsi 
                qu’un cabinet de kinésitherapie -physiotherapie.
              </p>
              <div class="text-center">
                <a href="about" class="more-btn">Voir Plus <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>INTÉGRITÉ</h4>
                    <p>Conscient que la rapidité de la prise en charge d’un patient peut lui sauver la vie, le personnel médical de la clinique met tout en œuvre pour accueillir le patient dans les meilleurs conditions et lui accorder les traitements dont il a besoin dans les plus brefs délais.

</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>TRANSPARENCE</h4>
                    <p>Le patient est placé au centre du dispositif managérial dont le but est de lui offrir à la fois des conditions d’accès aux soins, idéales, efficaces et sécurisées ainsi que des conditions de séjour confortables et agréables.

</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>EXCELLENCE</h4>
                    <p>Notre Centre Médical offre une prise en charge personnalisée, sécurisée, globale et coordonnée. En effet, Pour mieux satisfaire ses patients, la clinique accorde également, une importance particulière à la prise en charge de la douleur et aux soins palliatifs.

</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

   
<!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">
<br><br><br>
        <div class="section-title">
          <h2>Spécialités</h2>
          <p>Centre Médical+ regroupe la plupart des spécialités médicales</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">CARDIOLOGIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">NÉPHROLOGIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">GASTRO-ENTÉROLOGIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">PNEUMOLOGIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">NEUROLOGIE</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CARDIOLOGIE</h3>
                    <p class="fst-italic">Avec un centre qui propose les différentes prestations de l’exploration cardiaque tel que l’épreuve d’effort, les holters, l’écho doppler trans-thoracique et trans-oesophagienne.

L’IRM cardiaque, le pace maker et les défibrillateurs implantables ainsi une salle de cathétérisme permettant le diagnostique et le traitement des attentes coronaires valvulaire et vasculaire et la mise en place de prothèse biliaire par voie percutané.</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>NÉPHROLOGIE</h3>
                    <p class="fst-italic">La néphrologie est la spécialité de la médecine qui traite et diagnostique les maladies des reins. La double fonction des reins, excrétrice et hormonale, implique de nombreuses maladies qui ne se limitent pas à l’organe lui-même mais s’étendent aux maladies générales comme l’athérosclérose et le diabète.</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>GASTRO-ENTÉROLOGIE</h3>
                    <p class="fst-italic">La gastrologie est une spécialité médico-chirurgicale qui s’applique à l’étude anatomique, physiologique et fonctionnelle de l’estomac. Les gastrologues de la Clinique EL ALYA sont spécialisés dans toutes les pathologies de l’estomac, l’imagerie médicale, l’exploration et les traitements et collaborent avec les chirurgiens digestifs et les oncologues.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>PNEUMOLOGIE</h3>
                    <p class="fst-italic">La pneumologie Avec un centre d’exploration du sommeil et une unité de fibroscopie bronchique</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>NEUROLOGIE</h3>
                    <p class="fst-italic">a neurologie : Notre Centre Médical est spécialisée dans la prise en charge des Accidents Vasculaires Cérébraux (AVC). Elle prend en charge en urgence 24h/24 et 7 jours/7 les patients atteints d’un AVC.</p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->


    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>LISTE DES DOCTEURS</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr Mounir youssef MAKNI </h4>
                <span>Gynécologue Obstétricien</span>
                <p>Echographie Chirurgie gynécologique & Chirurgie coelioscopique</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr Nesrine KETATA</h4>
                <span>Médecin dentiste</span>
                <p>Diplômée de la faculté de médecine dentaire de Monastir</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr Chakib KHEMIRI </h4>
                <span>Chirurgien Orthopédiste Traumatologue</span>
                <p>Spécialiste en Chirurgie Orthopédique</p>
              </div>
            </div>
          </div>
           <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr Manel Belarbi </h4>
                <span>Psychiatre</span>
                <p>psychiatre psychothérapeute psychgériatre et sexologue</p>
              </div>
            </div>
          </div>

    </section><!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Album Photos</h2>
          <p>Médecine, Chirurgie, Radiothérapie, Chimiothérapie, Explorations Radiologique et Endoscopique.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
      <div class="container">
        <div class="section-title">
          <h2>Notre position sur Google Maps</h2>
        </div>
      <div><iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12769.035770553335!2d10.1529063!3d36.8602203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x61e26ea5017530e8!2sClinique%20Ennasr!5e0!3m2!1sfr!2sfr!4v1607344813980!5m2!1sfr!2sfr" frameborder="0" allowfullscreen></iframe>
      </div>
  </main><!-- End #main -->

  
{% endblock %}
