{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">
 <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
            <br><br><br>
        <div class="section-title">
          <h2>Panneau d'administration</h2>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}</div>

        <a class="btn btn-secondary" href="{{ path('display_rv') }}">Gérer liste des Rendez-vous</a>
        <div class="mt-md-4 pb-5">
        <a class="btn btn-secondary" href="{{ path('display_msg') }}">Gérer liste des messages</a>
        
</div></section>
{% endblock %}
