{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<section class="">
        <br><br><br>
            <div class="container my-5">
            <div class="row justify-content-center">
            <div class="section-title col-lg-6">
            <h2>CENTRE MEDICAL+</h2>
                   {% for message in app.flashes('success')%}
                   {{message}}
                   {% endfor %}<br>
<a href="{{ path('app_home') }}"><i class="" style="font-size: 50px;"></i>Redirection vers la page d'accueil.</a>

                </div>
            </div>
        </section>


{% endblock %}


